[HOST]
NAME: {node_name}
ZONEINFO: America/Boise

[NETWORK]
MASTER_HOSTNAME: viz.viz
MASTER_IP: 192.168.1.254
DOMAIN: viz
IP: 192.168.1.{node_number}
NETMASK: 24
BROADCAST: 192.168.1.255

[DISK_INFO]
BOOT_DEVICE: /dev/sda

[PARTITION_TABLE]
/dev/sda1: 0;2MiB;fb02
/dev/sda2: 2MiB;100MiB;ext2
/dev/sda3: 100MiB;-0;ext4

[FSTAB]
/dev/sda3: /
/dev/sda2: /boot
